/* html,
body {
   margin:0!important;
   padding:0!important;
   height:100%!important;
}
.footer {
  position:absolute!important;
  bottom:0!important;
  width:100%!important;
  height:60px;   
  background:#6cf; 
} */
.our-team-main {
  width: 100%;
  height: auto;
  border-bottom: 5px #323233 solid;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-bottom: 28px;
}


.our-team-main img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 90px;
}

/* .our-team-main h3 {
  font-size: 20px;
  font-weight: 700;
} */

.our-team-main p {
  margin-bottom: 0;
}
.our-team-main {
  width: 100%;
  height: auto;
  border-bottom: 5px #323233 solid;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-bottom: 28px;
}


.our-team-main img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 90px;
}

/* .our-team-main h3 {
  font-size: 20px;
  font-weight: 700;
} */

.our-team-main p {
  margin-bottom: 0;
}
.brand-size{
  font-size: 2rem;
}
.trending {
  position: absolute;
  align-self: flex-end;
  padding: 2px 7px;
  background:#dc3545;
  color:white;
}
.drop-active:active {
  background-color:#dc3545 ;
}
.nav-menus {
  margin-left:7px!important;
}
.button-toggle {
  border:none;
  border-color: none;
  
}
.button-close{
  outline:0!important;
}
.toggle-button {
  outline: 0!important;
  transition: 1s;
  
}
.toggle-button:active{
  /* background: #dc3545; */
  transform:rotate(600deg);
  /* transform: scale(0.5); */
}
  /* .example {
  animation-name:example;
  animation-duration: 3s;
  animation-iteration-count:infinite ;

}
@keyframes example {
  0% {left: -100%;}
  50%{left:100%}
   75% {left: -50%;} 
  100%{left:-100%}
}   */

.toggle-button:active{
  background:#dc3545;

}
.button-confirm {
  margin:20px 0 10px 0;
}
.button-toggle:active {
  border:none;
}
.heading {
  /* font-size:1.5rem; */
  margin-top:140px;
  margin-bottom:50px;
  color:#dc3545;
}
.cardhover:hover{
  box-shadow: 1px 2px 4px 3px #dadada;
}
 .price-add {
  display: flex;
  justify-content: space-between;
} 
.card-block {
  margin-bottom: 30px;
}
.footer-content{
  line-height: 0.5rem;
}
.footer-sub {
  font-weight: bold;
  
}
.footer-link {
  color:#d47a7af7;
}
/* .footer-link:active{
  color:white; */

.footer-link:hover{
  color:white;
}
.nav-list {
  list-style: none;
  padding:0;
}
.nav-list a {
  color:#dc3545;
}
.text-home1 {
  margin-top:65px;
}
.text-home2 {
  margin-top:40px;
}
.img-padding {
  padding-bottom: 30px;
}
.icon {
  margin-top:-28px!important;
}


@media (max-width: 575.98px){
  /* .product-img{
    transition: 200s linear;
  } 
  .product-img:hover {
    
  } */
  .brand-size{
    font-size: 1.6rem;
  }
.heading {
  font-size:1.5rem;
  margin-top:140px;
  margin-bottom:50px;
}
.sub-headings {
font-size: 1.4rem;
}
.img-headings {
  font-size:1.2rem;
}
.card-width{
  /* width:50% ; */
  padding-right:7.5px;
  margin-top:15px;
  margin-bottom: 16px;
}
.card-width1{
  /* width:50% ; */
  padding-left:7.5px;
  margin-top:15px;
  margin-bottom: 16px;
}
.card-width2{
  /* width:50% ; */
  padding-right:7.5px;
  margin-top:15px;
  margin-bottom: 16px;
}
.card-width3{
  /* width:50% ; */
  padding-left:7.5px;
  margin-top:15px;
  margin-bottom: 16px;
}
.text-para {
  font-size:1rem;
}
/* .card-block {
  width:50%;
}
.card-img {
  height:150px !important;
} */
.card-block {
  margin-bottom: 16px!important;
}
.product-title {
  font-size:1.2rem;
}

}
@media (min-width: 576px) and (max-width: 767.98px){
  .brand-size{
    font-size: 1.8rem;
  }
  
  .card-width{
    width:50% ;
    padding-right:23px;
    margin-top:15px;
    margin-bottom: auto;
  }
  .card-width1{
    width:50% ;
    padding-left:23px;
    margin-top:15px;
    margin-bottom: auto;
  }
  .card-width2{
    width:50% ;
    padding-right:23px;
    margin-top:15px;
    margin-bottom: auto;
}
.card-width3{
  width:50% ;
  padding-left:23px;
  margin-top:15px;
  margin-bottom: auto;
}

/* .card-img {
  object-fit: contain;
    background-color: crimson;
} */
.card-block {
  margin-bottom: 16px!important;
}
/* .img-name {
  font-size:1.4rem;
} */
.text-para {
  font-size:1.2rem;
}
.img-headings {
  font-size:1.5rem;
}
}
@media (min-width: 768px) and (max-width: 991.98px){
  .team-name{
    font-size:1.9rem!important;
  }
  .role {
    font-size: 1.5rem;
  }
  .text-para {
    font-size:1.2rem;
  }
  /* .card-width {
    margin-bottom: auto;
  }
  .card-width1 {
    margin-bottom: auto;
  } */
  
  .card-width{
    width:50% ;
    padding-right:23px;
    margin-top:15px;
    margin-bottom: auto;
  }
  .card-width1{
    width:50% ;
    padding-left:23px;
    margin-top:15px;
    margin-bottom: auto;
  }
  .card-width2{
    width:50% ;
    padding-right:23px;
    margin-top:15px;
    margin-bottom: auto;
}
.card-width3{
  width:50% ;
  padding-left:23px;
  margin-top:15px;
  margin-bottom: auto;
}
  .footer {
    margin-top:301px!important;
  }

}
@media (min-width: 992px) and (max-width: 1199.98px){
  .img-msn {
    margin-top:80px;

    }
  #card-image {
    height:156px;
  }
}
@media (min-width: 1200px){
  .img-msn {
    margin-top:70px;

    }
.text-para{
  font-size:1rem;
}
#card-image {
  height:195px!important;
}
}
.bar-bar {
  display: flex;
  justify-content: space-between;
}
.nav-side{
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #dc3545;
  background: transparent;
  z-index: 1031;
  


}
.sideMenu {
  width: 70%;
  height: 100%;
  background-color: #fff;
  padding:0;
  margin: 0;
  

}

.close-btn{
  font-size: 3rem;
  float: right;
  margin-top:-20px;
  background: none;
  border:none;
  

}
.nav-list-side {
 margin-left: 10px;
 font-size: 1.5rem;
}


/* .carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #0000ff;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}*/
/* .carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: #ffff99;
}  */